#loginForm {
    float: right;
    margin-top: -25px;
    font-size: 12px;
    margin-right: 50px;
}

#languageSelection {
    min-width: 20px;
    float: right;
    margin-top: -25px;
    margin-right: -25px;
    font-size: 12px;
}

.PFTopLinks {
    margin-top: 1px !important;
}

.loggingButton {
    margin-left: 1em;
}

.loggingInput {
    margin-right: 1em !important;
}